<div th:fragment="deleteModal" class="container">
	<!-- Modal -->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Xóa bản ghi</h4>
				</div>
				<div class="modal-body">
					<p>Bạn có chắc muốn xóa bản ghi này không ?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger btn-delete"
						data-dismiss="modal">Có</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Không</button>
				</div>
			</div>

		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</div>
