
<footer th:fragment="footer" class="footer">
	<div class="footer-wrapper container">
		<img class="footer-logo"
			src="https://www.anhngumshoa.com/theme/frontend/default/images/logo2.png"
			alt="">

		<div class="footer-body">
			<div class="footer-about-us">
				<h5>Về Anh ngữ Ms Hoa</h5>
				<p>Trên con đường phát triển, Anh ngữ Ms Hoa phấn đấu trở thành
					đơn vị đi đầu trong lĩnh vực đào tạo TOEIC; trở thành thương hiệu
					“top of mind” trong lòng học viên khi họ có nhu cầu nâng cao kỹ
					năng tiếng Anh. Xa hơn nữa là trở thành ngôi sao sáng trên bản đồ
					giáo dục Việt Nam.</p>
			</div>

			<div class="footer-contact">
				<h5>Thông tin liên hệ</h5>
				<h6>Minh Quang TOIEC</h6>
				<p>
					Hotline <span>0974 254 682</span>
				</p>
				<p>
					Email: <span>quangtoiec@gmail.com</span>
				</p>

				<ul class="footer-social-list">
					<li class="footer-social-item"><a
						class="footer-social-item-link" href=""><i
							class="fa-brands fa-facebook"></i></a></li>

					<li class="footer-social-item"><a
						class="footer-social-item-link" href=""><i
							class="fa-brands fa-facebook"></i></a></li>

					<li class="footer-social-item"><a
						class="footer-social-item-link" href=""><i
							class="fa-brands fa-facebook"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>