<!DOCTYPE html>
<html>
<head th:replace="common/head :: head(~{::title},~{::link})">
<meta charset="UTF-8">
<title>Thông tin học sinh</title>
<link rel="stylesheet" href="">
</head>
<body>
	<div class="container">
		<h2>Chi tiết học viên</h2>
		<div class="table-responsive">
			<table class="table">
				<tr>
					<th>ID</th>
					<td th:text="${student.id}"></td>
				</tr>
				
				<tr>
					<th>Họ tên học viên</th>
					<td th:text="${student.name}"></td>
				</tr>
				
				
				<tr>
					<th>Giới tính</th>
					<td th:if="${student.gender == 'male'}">Nam</td>
					<td th:if="${student.gender == 'female'}">Nữ</td>
				</tr>
				
				<tr>
					<th>Ngày sinh</th>
					<td th:text="${student.birthday}"></td>
				</tr>
				
				<tr>
					<th>Nghề nghiệp</th>
					<td th:text="${student.career}"></td>
				</tr>
				
				<tr>
					<th>Số điện thoại</th>
					<td th:text="${student.phone}"></td>
				</tr>
				
				
				<tr>
					<th>Nơi ở</th>
					<td th:text="${student.address}"></td>
				</tr>
				
				<tr>
					<th>Mô tả</th>
					<td th:text="${student.note}"></td>
				</tr>
						
				<tr>
					<th>Ngày tạo</th>
					<td th:text="${#dates.format(student.createdDate, 'dd-MM-yyyy HH:mm')}"></td>
				</tr>
				
				<tr>
					<th>Ngày cập nhật gần nhất</th>
					<td th:text="${#dates.format(student.updatedDate, 'dd-MM-yyyy HH:mm')}"></td>
				</tr>
				
			</table>
		</div>
		<a class="btn btn-primary" th:href="@{/admin/student-list}">Danh sách học viên</a>
		<a class="btn btn-primary" th:href="@{/admin/update-student/__${student.id}__}">Sửa thông tin</a>
		
		<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Đăng kí khóa học
		<span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li><a th:href="@{/tvv/add-register-course(idStudent = ${student.id})}"
				>Đăng kí khóa lẻ</a></li>
			<li><a th:href="@{/tvv/add-register-course-combo(idStudent = ${student.id})}"
				>Đăng kí combo</a></li>
		</ul>
		
		<a class="btn btn-primary" th:href="@{/tvv/student-register-list(idStudent = ${student.id})}">Danh sách đăng kí</a>
		
	</div>
</body>
</html>