<!DOCTYPE html>
<html>
<head th:replace="common/head :: head(~{::title},~{::link})">
<meta charset="UTF-8">
<title>Mở lớp học dự kiến</title>
<link rel="stylesheet" href="">
</head>

<body>
	<header th:replace="common/headerAdmin :: headerAdmin"></header>
	<div class="container">
		<h2>Mở lớp học dự kiến</h2>
	
		<button class="btn btn-primary dropdown-toggle" type="button"
			data-toggle="dropdown">
			Lọc đăng kí có thể mở lớp <span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><a th:each="course: ${courses}"
				th:href="@{/admin/open-schedule-class(idCourse = ${course.id})}"
				th:text="${course.name}"></a></li>
		</ul>
		<form th:if="${size != 0}"  
			th:action="@{/admin/create-schedule-class/idCourse/__${courseDTO.id}__}" 
			method="post">
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Chọn</th>
						<th>Mã đăng kí</th>
						<th>Mã khóa học</th>
						<th>Loại đăng kí</th>
						<th>Khóa học đăng kí</th>
						<th>Mã học viên</th>
						<th>Học viên</th>
						<th>Lựa chọn</th>
					</tr>
				</thead>
	
				<tbody>
					<tr th:each="register: ${registers}">
						<td> <input name="idRegisters[]" th:value="${register.id}" type="checkbox"/> </td>
						<td th:text="${register.id}"></td>
						<td th:text="${register.courseDTO.id}"></td>
						<td th:if="${register.comboDTO != null}">Theo combo</td>
						<td th:if="${register.comboDTO == null}">Theo khóa lẻ</td>
						<td th:text="${register.courseDTO.name}"></td>
						<td th:text="${register.studentDTO.id}"></td>
						<td th:text="${register.studentDTO.name}"></td>
					
						<td>
							<a 
								class="option-from-user btn-force-delete" 
								th:dataid="${register.id}"
								data-toggle="modal"
								data-target="#myModal"
								href="">Xóa</a> |
							<a th:href="@{/tvv/info-register-course/__${register.id}__}">Thông tin</a>
						</td>
						
					</tr>
				</tbody>		
			</table>	
			
			<button class="btn btn-primary" type="submit">Tạo lớp học dự kiến</button>
		</form>
	</div>
</body>
</html>