<!DOCTYPE html>
<html>
<head th:replace="common/head :: head(~{::title},~{::link})">
<meta charset="UTF-8">
<title>Danh sách lớp học đang hoạt động</title>
<link rel="stylesheet" href="">
</head>

<body>
	<header th:replace="common/headerAdmin :: headerAdmin"></header>
	<div class="container">
		<h2>Các buổi học bị hoãn của 
			<span th:text="${class.name}"></span>
		</h2>
		
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Ngày hoãn</th>
					<th>Ca</th>
					<th>Buổi học số</th>
					<th>Thời gian hoãn</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="lesson: ${lessons}">
					<td th:text="${lesson.day}"></td>
					<td th:text="${lesson.classOpeningDTO.shiftDTO.name}"></td>
					<td th:text="${lesson.lesson}"></td>
					<td th:text="${lesson.completedAt}"></td>
				</tr>
			</tbody>
		</table>
		
		<a class="btn btn-primary" th:href="@{/admin/lessons-in-class/__${class.id}__}">Các buổi học hoàn thành</a>
	</div>
</body>
</html>