<!DOCTYPE html>
<html>
<head th:replace="common/head :: head(~{::title},~{::link})">
<meta charset="UTF-8">
<title>Cập nhật phòng học</title>
<link rel="stylesheet" href="">
</head>
<body>
	<div class="container">
		<h2>Cập nhật phòng học</h2>
		<form id="form-validation" action="/admin/update-class-room" method="post" 
			th:object="${classRoomDTO}">
			
			<input type="hidden" th:field="*{id}"/>
			<div class="form-group">
				<label for="name">Tên phòng học</label> <input id="name"
					type="text" th:field="*{name}" class="form-control" />
				<p style="color: red;" th:each="error: ${#fields.errors('name')}"
					th:text="#{validation.require}"></p>
			</div>
			
			<div class="form-group">
	        	<label for="" class="form-label">Loại phòng học</label>
	        	<select th:field="*{idType}" class="form-control">
	        		<option th:value="${session.typeOfRoom.id}" th:text="${session.typeOfRoom.name}"></option>
	        		<option th:each="type: ${session.classTypes}" 
	        			th:if="${type.id != session.typeOfRoom.id}"
	        			th:text="${type.name}" 
	        			th:value="${type.id}" />
	        	</select>
        	</div>
        	
        	<div class="form-group">
	        	<label for="" class="form-label">Loại phòng học</label>
	        	<select th:field="*{status}" class="form-control">
	        		<option th:value="0">Bình thường</option>
	        		<option th:value="1">Sửa chữa</option>
	        	</select>
        	</div>

			<button type="submit" class="btn btn-default">Cập nhật</button>
			<a class="btn btn-primary" th:href="@{/admin/class-room-list}">Danh
				sách phòng học</a>
		</form>
	</div>

</body>
</html>