<!DOCTYPE html>
<html>
<head th:replace="common/head :: head(~{::title},~{::link})">
<meta charset="UTF-8">
<title>Thêm mới khóa học</title>
<link rel="stylesheet" href="">
</head>
<body>
	<header th:replace="common/headerAdmin :: headerAdmin"></header>
	<div class="container">
		<h2 th:if="${size != null}">Bạn không thể xóa khóa học: 
			<span th:text="${course.name}"></span> . Hiện đang có 
			<span th:text="${size}"></span> học viên đang đăng kí hoặc học trong khóa học này
		</h2>
		
		<h2 th:if="${numberOnlCourses != null}">Bạn không thể xóa khóa học: 
			<span th:text="${course.name}"></span> . Hiện đang có 
			<span th:text="${numberOnlCourses}"></span> khóa học online cho khóa học này
		</h2>
		
		<a class="btn btn-primary" th:href="@{/admin/course-list}">Danh sách khóa học</a>
	</div>
</body>
</html>