<!DOCTYPE html>
<html>
<head th:replace="common/head :: head(~{::title},~{::link})">
<meta charset="UTF-8">
<title>TKB của giáo viên</title>
<link rel="stylesheet" href="">
</head>
<body>
	<header th:replace="common/headerAdmin :: headerAdmin"></header>
	<div class="container">
		<h2>Thời khóa biểu của giáo viên <span th:text="${teacher.name}"></span> </h2>
		<div th:if="${classes == null}">
			<h4 style="color: red; font-size: 20px">Hiện giáo viên chưa dạy lớp nào</h4>
		</div>
		
		<div style="display: flex;" class="table-wrapper">
			<table class="table table-bordered" th:each="day: ${dayOfWeeks}">
				<tr style="color: red;"> <th>Thứ <span th:text="${day.day}"></span></th> </tr>
				
				<tr th:each="class: ${classes}">
					<td th:if="${class.dayOfWeekDTO.day == day.day}" >
						<span th:text="${class.classOpeningDTO.name}"></span> -
						<span th:text="${class.classOpeningDTO.shiftDTO.name}"></span>
					</td>
				</tr>
			</table>
		</div>
		
		<a class="btn btn-primary" th:href="@{/qlhv/export-excel/export-time-table-of-teacher(teacherId=${teacher.id})}">In thời khóa biểu</a>
		
	</div>

</body>
</html>