<!DOCTYPE html>
<html>
<head th:replace="common/website :: website(~{::title},~{::link})">
<meta charset="UTF-8">
<title>Anh ngữ Minh Quang</title>
<link rel="stylesheet" href="">
</head>
<body>
	<header th:replace="common/header :: header"></header>

	<div class="slider">
		<img class="slider-img"
			src="https://www.anhngumshoa.com/uploads/images/resize/750x750/banner_web2.jpg"
			alt="">

		<div class="slider-intro">
			<h5>Chúng ta cùng nhau từng bước chinh phục tiếng anh</h5>

			<ul class="slider-intro-contents-list container">
				<li class="slider-intro-content-item"><img
					src="https://www.anhngumshoa.com/uploads/images/userfiles/banner_to1.jpg"
					alt=""></li>

				<li class="slider-intro-content-item"><img
					src="https://www.anhngumshoa.com/uploads/images/userfiles/banner_gt1.jpg"
					alt=""></li>

				<li class="slider-intro-content-item"><img
					src="https://www.anhngumshoa.com/uploads/images/userfiles/banner_mhj1.jpg"
					alt=""></li>
			</ul>
		</div>
	</div>

	<body class="content">
	<!-- Gioi thieu qua -->
            <div class="intro-brand row container">
                <div class="intro-brand-img col-sm-6">
                    <img
				src="https://www.anhngumshoa.com/theme/frontend/default/new/images/hanhtrinh.jpg"></img>
                </div>

                <div class="intro-brand-content col-sm-6">
                    <h2>ĐÀO TẠO TOIEC <SPan style="color: red;">SỐ 1</SPan> VIỆT NAM</h2>
                    <ul class="intro-brand-contents-list">
                        <li class="intro-brand-content-item">
                            <h5>10+</h5>
                            <span>Năm truyền cảm hứng</span>
                        </li>

                        <li class="intro-brand-content-item">
                            <h5>300+</h5>
                            <span>Giáo viên giỏi kiến thức giàu kĩ năng</span>
                        </li>

                        <li class="intro-brand-content-item">
                            <h5>1.000.000+</h5>
                            <span>Học viên đạt mục tiêu</span>
                        </li>

                        <li class="intro-brand-content-item">
                            <h5>200+</h5>
                            <span>Đối tác thường niên</span>
                        </li>

                        <li class="intro-brand-content-item">
                            <h5>30</h5>
                            <span>Cơ sở trên toàn quốc</span>
                        </li>

                        <li class="intro-brand-content-item">
                            <h5>100000</h5>
                            <span>Học viên online năm châu</span>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Lo trinh tự học -->
            <div class="study-route-wrapper row">
                <div class="study-route container">
                    <h2>LỘ TRÌNH TỰ HỌC <span style="color: red;">800+ TOEIC ĐỘC QUYỀN</span>
			</h2>

                    <div class="study-route-content">
                        <a class="study-route-video-link col-sm-8"
					href="https://www.youtube.com/watch?v=2C7sYRRvD2Y&t=1s"
					target="_blank">
                            <img
					src="https://www.anhngumshoa.com/theme/frontend/default/new/images/lotrinh.jpg"></img>
                        </a>

                        <div class="study-route-content-detail col-sm-4">
                            <button class="btn-study-route-video">
                                Video lộ trình
                            </button>

                            <h3>Lộ trình tự học 800+</h3>
                            <button class="free-block">
                                MIỄN PHÍ
                            </button>

                            <h4 class="study-route-sub-content">Khóa học Pre TOEIC dành cho người mới bắt đầu (300 - 350 TOEIC)</h4>
                            <p class="study-route-sub-content-desc">Khóa học TOEIC dành riêng cho người mất gốc, cam kết lấy lại căn bản tiếng Anh sau 2 tháng. 
                                Anh Ngữ Ms Hoa cam kết chất lượng đầu ra 100%, truyền động lực học tiếng Anh mỗi ngày.
                            </p>

                            <div class="study-route-content-btn-wrapper">
                                <a
							class="study-route-content-btn btn-online" href="">Học online</a>
                                <a
							class="study-route-content-btn btn-doc" href="">Tài liệu</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Lo trinh dao tao -->
            <div class="traning-route container">
                <div class="traning-route-header">
                    <h3>Lộ trình đào tạo</h3>
                    <h3 style="color: red;">Tại Minh Quang Toiec</h3>
                </div>

                <div class="traning-route-body row">
                    <div class="traning-route-body-2 col-sm-6">LỘ TRÌNH HỌC TOEIC 2 KỸ NĂNG</div>
                    <div class="traning-route-body-4 col-sm-6">LỘ TRÌNH HỌC TOEIC 4 KỸ NĂNG</div>
                </div>

                <div class="traning-route-body-img">
                    <img
				src="https://www.anhngumshoa.com/theme/frontend/default/new/images/ex/home/lotrinh2.png"
				alt="">
                </div>

                <div class="traning-route-footer">
                    <a class="traning-route-discovery-link" href="">Khám phá chi tiết lộ trình</a>
                </div>

            </div>

            <!-- Doi ngu giao vien -->
            <div class="teacher-team">
                <div class="teacher-team-header container">
                    <h3>Đội ngũ giáo viên</h3>
                    <h3 style="color: red;">Giàu kiến thức giỏi kỹ năng</h3>

                    <ul class="teacher-team-header-slogans">
                        <li class="teacher-team-header-slogan-item">
                           <img
					src="https://www.anhngumshoa.com/theme/frontend/default/new/images/ex/home/star.PNG"
					alt="">
                           <span>Sẵn sàng cháy hết mình cùng học viên</span>
                        </li>

                        <li class="teacher-team-header-slogan-item">
                            <img
					src="https://www.anhngumshoa.com/theme/frontend/default/new/images/ex/home/star.PNG"
					alt="">
                            <span>Đam mê truyền lửa trong từng con chữ</span>
                         </li>

                         <li class="teacher-team-header-slogan-item">
                            <img
					src="https://www.anhngumshoa.com/theme/frontend/default/new/images/ex/home/star.PNG"
					alt="">
                            <span>Kết nối yêu thương như gia đình nhỏ</span>
                         </li>
                    </ul>
                </div>

                <ul class="teacher-team-list container">
                    <li class="teacher-team-item">
                        <a class="teacher-team-item-link" href="">
                            <img
					src="https://www.anhngumshoa.com/uploads/images/crop/500x300/anh-gv-2.jpg"
					alt="">
                            <h4>Ms Thùy Chi</h4>
                            <ul>
                                <li> <div></div> 900 TOIEC</li>
                                <li> <div></div> Người giáo viên khơi dạy niềm đam mê trong các em</li>
                                <li> <div></div> Sở thích: Nghe nhạc, Xem phim</li>
                            </ul>
                        </a>
                    </li>

                    <li class="teacher-team-item">
                        <a class="teacher-team-item-link" href="">
                            <img
					src="https://www.anhngumshoa.com/uploads/images/crop/500x300/anh-gv-2.jpg"
					alt="">
                            <h4>Ms Thùy Chi</h4>
                            <ul>
                                <li> <div></div> 900 TOIEC</li>
                                <li> <div></div> Người giáo viên khơi dạy niềm đam mê trong các em</li>
                                <li> <div></div> Sở thích: Nghe nhạc, Xem phim</li>
                            </ul>
                        </a>
                    </li>

                    <li class="teacher-team-item">
                        <a class="teacher-team-item-link" href="">
                            <img
					src="https://www.anhngumshoa.com/uploads/images/crop/500x300/anh-gv-2.jpg"
					alt="">
                            <h4>Ms Thùy Chi</h4>
                            <ul>
                                <li> <div></div> 900 TOIEC</li>
                                <li> <div></div> Người giáo viên khơi dạy niềm đam mê trong các em</li>
                                <li> <div></div> Sở thích: Nghe nhạc, Xem phim</li>
                            </ul>
                        </a>
                    </li>

                    <li class="teacher-team-item">
                        <a class="teacher-team-item-link" href="">
                            <img
					src="https://www.anhngumshoa.com/uploads/images/crop/500x300/anh-gv-2.jpg"
					alt="">
                            <h4>Ms Thùy Chi</h4>
                            <ul>
                                <li> <div></div> 900 TOIEC</li>
                                <li> <div></div> Người giáo viên khơi dạy niềm đam mê trong các em</li>
                                <li> <div></div> Sở thích: Nghe nhạc, Xem phim</li>
                            </ul>
                        </a>
                    </li>
                </ul>

                <div class="teacher-team-footer">
                    <a href="">Xem thêm các giáo viên</a>
                </div>
            </div>

            <!-- Dat cho lop hoc -->
            <div class="reservation-wrapper">
                <div class="reservation container">
                    <div class="reservation-form col-sm-5">
                        <div class="reservation-form-header">
                            <h2>Đừng bỏ lỡ cơ hội!!</h2>
                            <h5>Chinh phục thần tốc mục tiêu TOEIC với Mr Quang TOEIC!</h5>
                            <p>Hơn 1.000.000 học viên đã thành công cán đích. Bạn có muốn trở thành người tiếp theo?</p>
                        </div>

                        <form th:action="@{/mqe/send-your-info}" class="reservation-form-body" 
                        	th:object="${futureStudentDTO}" method="post">
                            <div class="input-wrapper">
                                <div class="form-group">
                                    <input type="text"
								class="form-input" placeholder="Họ tên" th:field="*{name}">
                                    <p class="text-error"></p>
                                </div>
                                <div class="form-group">
                                    <input type="text" th:field="*{phone}"
								class="form-input" placeholder="Số điện thoại" >
                                    <p class="text-error"></p>
                                </div>
                                <div class="form-group">
                                    <input th:field="*{email}" type="email"
								class="form-input" placeholder="Email của bạn" >
                                    <p class="text-error"></p>
                                </div>
                                <div class="form-group">
                                    <input type="text"
								class="form-input" placeholder="Nguyện vọng của bạn" th:field="*{aspiration}">
                                    <p class="text-error"></p>
                                </div>
                            </div>

                            <div class="reservation-form-recommend">
                                <h6>Đăng ký ngay, nhận ưu đãi liền tay</h6>
                                <p>Cơ hội chỉ dành cho 100 bạn học viên đầu tiên</p>
                                <p style="color: #ec2229;">Nhanh tay lên, chỉ còn 17 suất thôi!</p>
                            </div>

                            <button type="submit" class="btn-submit-form">Đăng ký ngay</button>
                        </form>
                    </div>

                    <div class="reservation-advertise col-sm-7">
                        <div class="reservation-advertise-img">
                            <img
						src="https://www.anhngumshoa.com/theme/frontend/default/new/images/ex/home/home-s8-ads3_new_2.png"
						alt="">
                        </div>

                        <div class="reservation-advertise-gift">
                            <ul class="reservation-advertise-gift-list">
                                <li
							class="reservation-advertise-gift-item">Tài khoản học Online</li>
                                <li
							class="reservation-advertise-gift-item">Files mềm học Offline</li>
                                <li
							class="reservation-advertise-gift-item">Giáo trình chuẩn quốc tế + Student Book</li>
                                <li
							class="reservation-advertise-gift-item">Timeline kế hoạch hành động mỗi tháng</li>
                                <li
							class="reservation-advertise-gift-item">Email nhắc nhở và hỗ trợ mỗi ngày</li>
                                <li
							class="reservation-advertise-gift-item">Ban giáo vụ đồng hành trong suốt thời gian học</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Cac nen tang mang xa hoi -->
            <div class="social-network">
                <div class="social-network-wrapper container">
                    <div class="social-network-header">
                        <h2>“Đắm mình” trong tiếng Anh cùng Ms Hoa TOEIC</h2>
                        <span>Mời bạn gia nhập Hệ sinh thái tiếng Anh/TOEIC để giao lưu và học tập cùng chúng tớ nhé!</span>
                    </div>
    
                    <ul class="social-network-list">
                        <li class="social-network-item">
                            <a class="social-network-item-link" href="">
                                <i class="fa-sharp fa-solid fa-globe"></i>
                                <h5>Website tự học TOIEC</h5>
                            </a>
                            <div class="social-network-intro">
                                <h6>Hàng đầu Việt Nam</h6>
                                <span>Hàng triệu người theo học</span>
                            </div>
                        </li>

                        <li class="social-network-item">
                            <a class="social-network-item-link" href="">
                                <i class="fa-brands fa-youtube"></i>
                                <h5>Youtube học TOIEC</h5>
                            </a>
                            <div class="social-network-intro">
                                <h6>Uy tín chất lượng cao</h6>
                                <span>
                                    (Kho tàng trên 500 bài giảng độc quyền với phương pháp học 
                                    tinh giản hiệu quả
                                </span>
                            </div>
                        </li>

                        <li class="social-network-item">
                            <a class="social-network-item-link" href="">
                                <i class="fa-brands fa-facebook-f"></i>
                                <h5>Fanpage tự học TOIEC</h5>
                            </a>
                            <div class="social-network-intro">
                                <h6>Hàng đầu Việt Nam</h6>
                                <span>Hàng triệu người theo học</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
       </body>
	
	<footer th:replace="common/footer :: footer"></footer>
	
	<script type="text/javascript" th:src="@{/js/formValidation.js}"></script>
</body>

</html>