<!DOCTYPE html>
<html>
<head th:replace="common/head :: head(~{::title},~{::link})">
<meta charset="UTF-8">
<title>Thêm mới loại khóa học</title>
<link rel="stylesheet" href="">
</head>
<body>
	<div class="container">
		<h2>Thêm mới loại khóa học</h2>
		<form id="form-validation" action="/admin/add-course-type" 
			method="post" th:object="${courseTypeDTO}">
		
			<div class="form-group">
				<label for="name">Loại khóa học</label> <input id="name"
					type="text" th:field="*{name}" class="form-control" placeholder="Nhập tên loại khóa học"/>
				<p style="color: red;" th:each="error: ${#fields.errors('name')}"
					th:text="#{validation.require}"></p>
			</div>
			
			<div class="form-group">
				<label>Mô tả</label>
				<textarea th:field="*{description}" type="text" class="form-control"></textarea>
			</div>
			
			<button type="submit" class="btn btn-default">Thêm mới</button>
			<a class="btn btn-primary" th:href="@{/admin/course-type-list}">Danh
				sách loại khóa học</a>
		</form>
	</div>

	
</body>
</html>